<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sqlserver" connectionString="" providerName=""/>
    <add name="mysql" connectionString="" providerName=""/>
  </connectionStrings>
  <appSettings>
    <add key="excel" value="1234567890qwertyuiop"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
